.msg {
    transition-duration: 2s;
}
.msg:hover {
  font-size: 32px;
  transition-duration: 1s;
}
.slideshow {
    text-align: left;
    img {
        position:absolute;
        animation: 8s move infinite;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
}
@keyframes move {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .slideshow img:nth-of-type(1) {
    animation-delay: 6s;
  }
  .slideshow img:nth-of-type(2) {
    animation-delay: 4s;
  }
  .slideshow img:nth-of-type(3) {
    animation-delay: 2s;
  }
  .slideshow img:nth-of-type(4) {
    animation-delay: 0;
  }
.welcome {
    min-height: 326px;
    padding-top: 100px;
    text-align: center;
    h1{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    span {
        font-size: 35px;
        color: #673ab7;
    }
}
h3 {
  margin: 50px;
  font-size: large;
  font-style: italic;
  
}
.first-wrapper {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 67% 33%;
  
  div:nth-child(odd) {
    background: lightskyblue;
    box-shadow: inset 0 0 25px #673ab7;
  }
}

.second-wrapper {
  display: grid;
  grid-template-columns: 33% 67%;
  min-height: 426px;
}
.third-wrapper {
  background: olive;
  box-shadow: inset 0 0 25px lightgreen;
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 426px;
  span {
    font-size: 35px;
    color: #673ab7;
  }
  div {
    padding-top: 70px;
  }

}