<div class="first-wrapper">
    <div class="welcome">
        <h1 class="msg">Welcome to <span>Marketplace</span></h1>
        <h3>This is person to person web market. Look at what the others are offering and contact them or make your
            own
            offer for buying or selling.</h3>
    </div>
    <div class="slideshow">
        <img src="../../../assets/home1.jpg">
        <img src="../../../assets/home2.jpg">
        <img src="../../../assets/home3.jpg">
        <img src="../../../assets/home4.jpg">
    </div>
</div>
<div class="second-wrapper">
    <div class="slideshow">
        <img src="../../../assets/home5.jpg">
        <img src="../../../assets/home6.jpg">
        <img src="../../../assets/home7.jpg">
        <img src="../../../assets/home8.jpg">
    </div>
    <div class="third-wrapper">
        <div class="msg"> Over <span>2000 carpets</span> are sold and bought on the market last year!</div>
        <div class="msg"> <span>Marketplace</span> with gold medal after biggest world forum. </div>
        <div class="msg"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </div>
</div>